:root {
  --colordarkblue: rgb(5, 20, 31);
  --colorsemiblue: 
  #232628;
  --colorblue: #3282B8;
  --colorbluelight: #BBE1FA;
  --colorblanco: #fff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #474849;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='0' stroke-opacity='0.52' %3E%3Ccircle fill='%23474849' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23434445' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%233f4041' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%233b3c3d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23373839' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23333435' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%232f3031' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%232c2c2d' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2328282a' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23242526' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23212122' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%231d1d1e' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%231a1a1b' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23161617' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23121214' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%230d0e0f' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23070809' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23010103' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Merriweather', serif;
  font-size: 1.7rem;
  line-height: 3rem;
}


.pre {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 199;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 1;
}

.preloader {
  width: 70px;
  height: 70px;
  border: 10px solid #eee;
  border-top: 10px solid blue;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  position: sticky;
  background-color: rgba(5, 20, 31, 0.4);
  backdrop-filter: blur(5px);
  height: 80px;
  top: 0;
  left: 0;
  z-index: 5;

}

/* TOGGLE */
.nav-toggle {
  display: none;
}

.logo-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav {
 display: flex;
 height: 80px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  justify-content: center;
  margin: 0 20px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 40px;
  line-height: 80px;
  width: max-content;
}
.nav-menu-link {
  padding: 8px 12px;
}
.nav-menu-link,
.intro_button_style {
  text-decoration: none;
  background-image: linear-gradient(white, white);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  transition: background-size .5s;
}

.nav-menu-link:hover,
.intro_button_style:hover,
.nav-menu-link_active {
  background-size: 100% 3px;
}

.intro {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: -80px;
  text-align: center;
  
}


.intro_second {
  color: #FFFFFF;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 20px;

}
.intro h1 {
  letter-spacing:3px;
  line-height: 20px;
  display: flex;
  margin-bottom: 50px;
  width: 100%;
  color: #FFFFFF;
  font-size: 62px;
  line-height: 1.071;
  text-shadow: 0 0 20px rgb(0 0 0 / 50%);
}

.intro h3 {
  width: 100%;
  line-height: 20px;
  color: #FFFFFF;
  text-shadow: 0 0 20px rgb(0 0 0 / 50%);
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 25px;
}
.button_about {
  list-style: none;
  text-decoration: none;
  color: var(--colorblanco);
  text-transform: uppercase;
}
.intro_button_style {

  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 16px 32px;
  text-align: center;

  font-size: 16px;
  margin: 4px 2px;
  transition: ease .5s;
  cursor: pointer;
}

.intro_button_style:hover {
  background-color: var(--colorblue);
  transition: 1s;
}

.intro :nth-child(1) {
  order: 3;
}

.intro :nth-child(2) {
  order: 3;
}

.intro :nth-child(3) {
  order: 2;
}

.wrapper {
  display: flex;
  position: absolute;
  list-style: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  top: 80vh;
}

.icon {
  color: var(--colorblanco);
  border-radius: 10px;
  padding: 15px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
  cursor: pointer;
}

.whatsapp:hover {
  transition: .3s;
  color: rgb(3, 212, 3);
}

.linkedin:hover {
  transition: .3s;
  color: rgb(50, 37, 154);
}

.github:hover {
  transition: .3s;
  color: rgb(96, 122, 126);
}
.fa-brands {
  transition: all .5s;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-whatsapp:hover {
 transform:scale(1.5);
 transition: all .5s ease;
}


#about {
  height: 1000px;
  width: 100%;

  padding-bottom: 60px;
  color: #FFFFFF;
}

.pruebaredondo {
  width: 70%;
  max-width: 1200px;
  height: 100%;
  background-color: var(--colorsemiblue);
  margin: auto;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.cv-personal-data {
  justify-content: center;
  padding-top: 50px;
}
.cv-main {
  display: flex;
  color: #FFFFFF;
  align-items: center;
  flex-direction: column;
  padding-top: 5vh;
  text-align: center;
  margin: 0 20px;
  font-size: 20px;
}
.cv-foto {
  border-radius: 50px;
}
.cv-intro {
  display: flex;
  align-items: center;
  justify-content: center;

}
.cv-h1 {
  margin-bottom: 25px;
}

.cv-info {
  font-size: 18px;
  line-height: 35px;
  margin: 0 20px;
  width: calc(100%/2);
}

.cv-personal-data {
  width: 100%;
  display: flex;
}

.cv-skills {
  padding-top: 30px;

}
.skill-icon {
  display: flex;

  justify-content: center;
  align-items: center;
}

.icon-skill {
  padding: 15px;
  font-size: 65px;
}
.html {
  width: 80%;
}
.css {
  width: 68%;
}

.js {
  width: 48%;
}

.uidesign {
  width: 50%;
}


.projcard-container { 
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  max-width: 1600px

}
.projcard {
  width: 100%;
  position: relative;
  height: 300px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.7px);
  -webkit-backdrop-filter: blur(1.7px);
  border: 1px solid rgba(255, 255, 255, 1);
  font-size: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.projcard:hover{
  transform: translate(0px, -5px);
}




.projcard-textbox {
  position: absolute;
  height: 300px;
  left: 340px;
  width: 50%;
  font-size: 20px;
  color: #FFFFFF;
}




.projcard-description {
  padding: 0;
  font-size: 15px;
  color: #424242;
  height: 50%;
  width: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #FFFFFF;
  cursor: pointer;
}

.projcard-tag::before {
  content: '';
  position: absolute;
  background: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  height: 6px;
  left: 9px;
  width: 6px;
  top: 10px;
}
.projcard-tagbox {
  position: absolute;
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 220px;
  font-size: 10px;
  user-select: none;
  color: black;
}
.projcard-tag {
  display: inline-flex;
  background: #FFFFFF;
  color: black;
  border-radius: 5px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin-right: 20px;

}

.boton-demo {
  position: relative;
  top: 98px;
  left: 100px;
  cursor: pointer;
  padding: 10px;
}

.boton-demo-active:hover {
  transform: scale(1.10);
  transition: ease-in-out .3s;
}
.boton-demo-active {
  border-radius: 5px;
  background-color: black;
  width: 60px;
  height: 30px;
  color: #FFFFFF;
  cursor: pointer;
  transition: ease-in-out .3s;
}

.projcard-container { 
  width: 100%;
  margin: 0px auto;
  padding-top: 100px;
  height: 1500px;
}

.img3 {
  display: flex;
  position: relative;
  top: -60px;
  width: 100%;
  height: 150px;
  justify-content: center;
}

.img3class {
  padding-top: 5px;
  border-radius: 15px;
  height: 200px;
  width: 80%;
}

.projcard {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 100%;
  max-width: 500px;
}

.projcard-textbox {
  display: flex;
  margin: auto;
  flex-direction: column;
  position: initial;
  line-height: 30px;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 80%;
  max-width: 600px;
  font-size: 20px;
}

.projcard-title {
  padding-bottom: 20px;
}
.projcard-tagbox {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  font-size: 12px;
  bottom: 20px;
}



#contact {
  height: 600px;
}

#form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;

}
input::placeholder {
  color: #FFFFFF;
  transition: ease .5s;
}

input:focus::placeholder {
  transform: translateY(-95%);
  color: #FFFFFF;
  transition: ease .5s;
}

input,
textarea {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  font-family: 'Lato', sans-serif;
  width: 50%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #ffffff;
  
  border: solid 1px  #ffffff;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea {
  height: 150px;
  max-height: 100px;
  padding: 15px;
}

#submit {
  width: 100px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #FFFFFF;;
  outline:none;
  cursor: pointer;
  border: solid 1px #FFFFFF;
}




 /* MOBILE */
@media (max-width: 900px) {
  #projects {
    height: 4500px;
  }
  .projcard-container { 

    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin: 0;
    padding-top: 50px;
  
  }

  .prueba {
    padding-bottom: 60px;
  }


  #about {
    height: 1200px;
  }

  .cv-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .cv-info {
    display: flex;
    margin: 0 20px;
    width: calc(100%/1.5);
  }

  .cv-name {
    font-size: 0.5em;
  }

  .cv-personal-data {
    padding-top: 20px;
    justify-content: space-around;
    flex-direction: column;
  }
  .nav-menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    background-color: var(--colordarkblue);
    width: 100%;
    backdrop-filter: blur(10px);
    transform: translateY(-100%);
    transition: 1s;
    height: 100vh;
    z-index: 2;
    padding: 0;
    padding-top: 80px;
    overflow: hidden;
  }

  .nav-menu_visible {
    transform: translateY(0%);
    transition: 1s;
  }

  .intro {
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .intro_button {
    display: none;
  }

  .nav-toggle {
    display: flex;
    width: 0px;
    position: relative;
    z-index: 100;
    order: 1;
    width: 40px;
    justify-content: flex-end;
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    align-items: center;
    margin-right: 20px;
  }

}


@media (max-width: 750px) {
  .projcard-container { 
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    width: 80%;
  }

  #about {
    height: 1300px;
  }
  .pruebaredondo {
    width: 90%;
  }
}
