:root {
  --colordarkblue: rgb(5, 20, 31);
  --colorsemiblue: #0F4C75;
  --colorblue: #3282B8;
  --colorbluelight: #BBE1FA;
  --colorblanco: #fff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--colorsemiblue);
  font-family: 'Merriweather', serif;
  font-size: 1.7rem;
  line-height: 3rem;
}
.pre {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 199;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 1;
}

.preloader {
  width: 70px;
  height: 70px;
  border: 10px solid #eee;
  border-top: 10px solid blue;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  position: sticky;
  background-color: rgba(5, 20, 31, 0.4);
  backdrop-filter: blur(5px);
  height: 80px;
  top: 0;
  left: 0;
  z-index: 5;

}

/* TOGGLE */
.nav-toggle {
  display: none;
}

.logo-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav {
 display: flex;
 height: 80px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  justify-content: center;
  margin: 0 20px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 40px;
  line-height: 80px;
  width: max-content;
}

.nav-menu-link,
.intro_button_style {
  text-decoration: none;
  background-image: linear-gradient(white, white);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  transition: background-size .5s;
}

.nav-menu-link:hover,
.intro_button_style:hover,
.nav-menu-link_active {
  background-size: 100% 3px;
}


.grow {
  margin-left: 140px;
}

.nav-menu-link {
  padding: 8px 12px;
}

.intro {
  background-image: url(/fondonice.jpg);
  background-position: center;
  background-size: cover;



  margin-top: -80px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column-reverse;
  padding-left: 50px;
}
.intro_second {
  color: #FFFFFF;
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 20px;

}
.intro h1 {
  letter-spacing:3px;
  line-height: 20px;
  display: flex;
  margin-bottom: 50px;
  width: 100%;
  color: #FFFFFF;
  font-size: 62px;
  line-height: 1.071;
  text-shadow: 0 0 20px rgb(0 0 0 / 50%);
}

.intro h3 {
  width: 100%;
  line-height: 20px;
  color: #FFFFFF;
  text-shadow: 0 0 20px rgb(0 0 0 / 50%);
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 25px;
}
.intro_button {
  position: absolute;
  top: 560px;
  left: 200px;
}
.button_about {
  list-style: none;
  text-decoration: none;
  color: var(--colorblanco);
  text-transform: uppercase;
}

.intro_button_style:hover {
  background-color: var(--colorblue);
  transition: 1s;
}

.intro :nth-child(1) {
  order: 3;
}

.intro :nth-child(2) {
  order: 3;
}

.intro :nth-child(3) {
  order: 2;
}

.intro_button_style {

  background-color: var(--colordarkblue);
  border: none;
  border: 1px solid var(--colorblue);
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.wrapper {
  display: flex;
  position: absolute;
  list-style: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  top: 90vh;
}

.icon {
  color: var(--colorblanco);
  border-radius: 10px;
  padding: 15px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
  cursor: pointer;
}

.whatsapp:hover {
  transition: .3s;
  color: rgb(3, 212, 3);
}

.linkedin:hover {
  transition: .3s;
  color: rgb(50, 37, 154);
}

.github:hover {
  transition: .3s;
  color: rgb(96, 122, 126);
}
.fa-brands {
  transition: all .5s;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-whatsapp:hover {
 transform:scale(1.5);
 transition: all .5s ease;
}


#cv {
  background-size: cover;
  height: 800px;
  width: 100%;
  color: #FFFFFF;
}

.cv-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 12vh;
  text-align: center;
  margin: 0 20px;
  font-size: 18px;
}

.cv-intro {
  display: flex;
  align-items: center;
  justify-content: center;

}
.cv-h1 {
  margin-bottom: 25px;
}
.cv-info {
  font-size: 18px;
  line-height: 35px;
  margin: 0 20px;
  width: calc(100%/2);
}

.cv-personal-data {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 50px;



}


.cv-skills {
  padding-top: 30px;

}

.progress {
  background: rgba(255,255,255,0.1);
  display: flex;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;

  padding: 0 5px;
  height: 20px;
  width: 250px;
}



.progress-value{
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 10px;
  width: 0%;
}
.html {
  width: 80%;
}
.css {
  width: 68%;
}

.js {
  width: 48%;
}

.uidesign {
  width: 50%;
}

#projects {
  width: 100%;
  height: 1000px;
  background-color: beige;
}


 /* MOBILE */
 @media (max-width: 1100px) {
  .grow {
    margin-left: 70px;
  }
 }

 @media (max-width: 900px) {
    #cv {
      height: 1700px;
    }
    .cv-intro {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }

    .cv-info {
      display: flex;
      margin: 0 20px;
      width: calc(100%/1.5);
    }

    .cv-name {
      font-size: 0.5em;
    }

    .cv-personal-data {
      padding-top: 20px;
      justify-content: space-around;
      flex-direction: column;

    }
   .nav-menu {
     display: flex;
     position: fixed;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     margin: 0;
     background-color: var(--colordarkblue);
     width: 100%;
     backdrop-filter: blur(10px);
     transform: translateY(-100%);
     transition: 1s;
     height: 100vh;
     z-index: 2;
     padding: 0;
     padding-top: 80px;
     overflow: hidden;

   }

   .nav-menu_visible {
    transform: translateY(0%);
    transition: 1s;
  }

   .intro {
    padding: 0;
    justify-content: center;
    align-items: center;
   }

   .nombre { 
    text-align: center;
   }


   .intro_button {
    display: none;
   }

   .grow {
     margin-left: 40px;

   }

   .logo-btn {
     z-index: 2;
   }


   .nav-toggle {
     display: flex;
     width: 0px;
     position: relative;
     z-index: 100;
     order: 1;
     width: 40px;
     justify-content: flex-end;
     color: white;
     background: none;
     border: none;
     font-size: 30px;
     cursor: pointer;
     align-items: center;
     margin-right: 20px;

   }

 }
